.hotel-results{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 1rem;
}

.hotel-results a{
    text-decoration: none;
}

.List-item{
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

.List-item.current {
    background-color: aliceblue;
    border-radius: .5rem;
}

.List-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
}

.List-item p{
    margin: .5rem auto
}

p,strong:not(.mute){
    color: black;
}