.map{
    height: 97vh;
    width: 50%;
    position: sticky;
    right: .5rem;
    top: .5rem;
    /* z-index: -1; */
    
}

.map__leaflet{
    height: 100%;
    margin-top: .5rem;
}

.geo-location{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    margin: .6rem .6rem 0 0;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.geo-location__icon{
    font-size: 24px;
    font-weight: bold;
}